@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Bleakwind Buffet</h1>
        <p>
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
            Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
            Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!
        </p>
    </div>

    <div class="menu-choices">
        <h2 class="Drinks">Drinks</h2>
        @foreach (Menu menu in Menu) 
        {
        <ol class="menu-list">
            <li>
                <div class="menu-item">

                </div>
            </li>
        </ol>
        }
        <h2 class="Entrees">Entrees</h2>
        <h2 class="Sides">Sides</h2>
    </div>
